<%-include('../includes/head')%>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%-include('../includes/navigation')%>

    <main>
        <h1>Hello form EJS</h1>
        <div class="form-div">
            <form class="product-form" action="/admin/add-product" method="POST">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                    <label for="title">Author</label>
                    <input type="text" name="author" id="author">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price">
                    <label for="url">Image URL</label>
                    <input type="text" name="url" id="url">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description">
                    <label for="Category">Category</label>
                    <select name="category" id="category">
                        <option value=1>Children Book</option>
                        <option value=2>Crime & Thriller</option>
                        <option value=3>Education</option>
                        <option value=4>Food & Drink</option>
                        <option value=5>Health</option>
                        <option value=6>History</option>
                        <option value=7>Horror</option>
                        <option value=8>Others</option>
                        <option value=9>Poetry</option>
                        <option value=10>Romance</option>
                        <option value=11>Science Fiction & Fantasy</option>
                        <option value=12>Sport</option>
                    </select>
                </div>
                <button type="submit">Add Product</button>
            </form>
        </div>
    </main>
    <%-include('../includes/end')%>