.details__left {
    width: 75%;
    max-width: 95%;
}

.details__right {
    width: 20%;
    max-width: 95%;
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.details__image {
    width: 30%;
    max-width: 90%;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.details__info {
    width: 60%;
    max-width: 90%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.details__title {
    font-size: 1.2rem;
}

.details__price {
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.quantity {
    width: 100%;
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font: inherit;
    border: 1px solid #00695c;
    border-radius: 3px;
}

.horizontal-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .details__left, .details__right {
        width: 100%;
    }
}