.form-control {
  margin: 1rem 0;
}

.form-control label {
  margin-top: 1rem;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea,
.form-control select {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  padding: 0.25rem
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
  outline-color: #00695c;
}

.form-control select option:checked,
.form-control select option:hover {
  background: #00695c;
  color: white;
}

.form-control select {
  overflow-y: hidden;
}

.center-div {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.login-signup-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.wrap-form {
  width: 390px;
  background: rgb(255, 255, 255);
  border-radius: 7px;
  overflow: hidden;
  padding: 40px 30px 50px;

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}




